<div class="relative box-border h-screen z-3 w-full">
  <div class="z-1 flex justify-center items-center w-full h-full flex-col">
    <div class="text-center justify-center">
      <div
        class="text-myBlue text-6xl font-bold leading-none tracking-tighter p-2 lg:text-9xl md:m-auto md:leading-none md:tracking-tight"
      >
        I'm Nicolás Lucero.
      </div>
      <div
        class="text-myBlue lg:text-4xl font-bold p-2 md:text-2xl md:tracking-tight md:font-light"
      >
        A software developer.
      </div>
    </div>
  </div>
</div>
