---
// Import your styles if they're defined in an external stylesheet.
import "../../styles.css";
---

<div
  class="absolute overflow-hidden h-screen w-full z-1 left-0 right-0 bottom-0 top-0 gradient-background"
>
</div>

<div class="fixed top-0 left-0 w-full h-screen z-1 opacity-80 lights"></div>
<div class="fixed top-0 left-0 w-full h-screen z-1 opacity-40 lights2"></div>

<div class="absolute flex m-auto z-5 items-center md:flex-col md:h-auto"></div>

<div class="absolute z-5 box-content p-28 md:p-4"></div>
