---
// Import your styles if they're defined in an external stylesheet.
import "../../styles.css";
---

<div class="fixed top-0 left-0 w-full h-screen z-1 opacity-80 lights"></div>
<div class="fixed top-0 left-0 w-full h-screen z-1 opacity-40 lights2"></div>
