<nav
  class="fixed top-0 z-[10000] mx-auto w-full left-0 flex justify-center items-center"
>
  <ul
    class="flex justify-center items-center list-none backdrop-blur-[6px] backdrop-saturate-175 rounded-full bg-[#e2e2e252] p-0 mx-2.5 my-2.5 shadow-[0_0_3px_#8f8f8f52]"
  >
    <li class="pl-8">
      <a
        href="#about-me"
        class="text-lg text-myBlue no-underline flex items-center p-2.5">Me</a
      >
    </li>
    <li class="p-2">
      <a
        href="#experience"
        class="text-lg text-myBlue no-underline flex items-center p-2.5"
        >Experiences</a
      >
    </li>
    <li class="pr-8">
      <a
        href="#contact"
        class="text-lg text-myBlue no-underline flex items-center p-2.5"
        >Contact</a
      >
    </li>
  </ul>
</nav>
